# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
env/

# Fichiers de configuration sensibles
.env
*.env

# Fichiers de base de données
*.db
*.sqlite3

# Fichiers de logs
*.log